html, body  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
}

div {
    box-sizing: border-box;
}

#main-area {
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ECF0F1;
    height: 820px;
    width: 1600px;
    display: flex;
    flex-direction: row;
    position: relative;

}

.container-column{
    background: #ECF0F1;
    height: 820px;
    width: 1600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-side {
    width: 50%;
    background: #34495E;
}
.left-side-dark {
    width: 50%;
    background: #34495E;
}

.left-side-white{
    width:50%;
}
.menu {
    margin: 720px 0 0;
    text-align: center;
}

.menu-column{
    margin:0;
    padding:0;
}
.menu-list {
    padding: 0;
}

.menu-list-dark{
    padding: 0;
    margin:0;;
}


.menu-list-dark .menu-item .menu-link, .menu-list-dark .menu-item .menu-link:hover:before {
    color: #ECF0F1;
}

.menu-list-white .menu-item .menu-link, .menu-list-dark .menu-item .menu-link-white:hover:before{
    color: #34495E
}
.menu-item {
    display: inline-block;
    margin-left: 40px;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-link {
    font: bold 12px/15px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #ECF0F1;
    text-decoration: none;
    position: relative;
}

.menu-link-white{
    font: bold 12px/15px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #34495E;
    text-decoration: none;
    position: relative;
}

.menu-link-white:hover:before{
    content: '';
    position: absolute;
    width: 44px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    transform: rotate(-45deg);
    background: #34495E;
    text-decoration: underline;
}

.menu-link:hover:before {
    content: '';
    position: absolute;
    width: 44px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    transform: rotate(-45deg);
    background: #FFFFFF;
    text-decoration: underline;
}

.right-side {
    width: 50%;
    padding: 0 0 0 213px;
}

.right-side-dark{
    width: 50%;
    background: #34495E;
}

.fa-quote-left{
    position:relative;
    top: 264px;
    left:230px;
    color: #34495E;
    display: block;
    font-size: 48px; /*как сделать 48х40 */
    margin:0;
}

.my-left-donut{
    position: absolute;
    top:339px;
    rigth:89px;
    text-shadow: 0px 3px 3px #ccc;
    left: 231px;
    font: 600 18px/25px 'Merriweather Sans', Tahoma, serif;
    font-style: normal;
    text-align: left;
    letter-spacing: 1.3px;
    color: #34495E;
    display: block;
    width: 475px; /* тут был косяк: на макете 480px, но нужный вид текст принял при этом значении */
    height: 125px;
    margin: 0;
    padding:0;
}

.title-area {
    top: calc(50% - 80px);
    left: calc(50% - 375px);
    position: absolute;
    font: bold 72px/80px 'Open Sans', Tahoma, serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 1.7px;
    color: #FFFFFF;
    display: block;
    width: 750px;
    height: 170px;
    margin: 0;
    background: linear-gradient(to right, #FFF 0%, #FFF 49.99%, #34495E 50%, #34495E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    height: 140px;
    width: 1600px;
    background: linear-gradient(to right, #34495E 0%, #34495E 49.99%, #ECF0F1 50%, #ECF0F1 100%);
}

.content{
    height:540px;
    width: 1600px;
    background: linear-gradient(to right, #34495E 0%, #34495E 49.99%, #ECF0F1 50%, #ECF0F1 100%)
}
.footer{
    display:block;
    height:140px;
    width:1600px;
    background: linear-gradient(to right, #34495E 0%, #34495E 49.99%, #ECF0F1 50%, #ECF0F1 100%)
}


.top-area {
    height: 50%;
    padding: 33px 0 0 0;
    text-align: center;
}

.page-title {
    display: block;
    font: 800 12px/15px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.page-title-dark {
    color: #34495E;
}

.bottom-area {
    height: 50%;
    text-align: center;
    padding: 317px 0 0 0;
}
.who-we-are{
    top:34px;
    right:229px;
    position:absolute;
    padding:0px;
    margin:0px;
    height:15px;
    font: 800 12px/15px 'Merriweather Sans', Tahoma, sans-serif;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color:#ECF0F1;

}
.text-area{
    position:absolute;
    width:400px; /*должно быть 480 ?! */
    height: 420px;
    text-align:left;
    top:174px;
    right:226px;
}

.parag{
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #ECF0F1;
}

.social-list {
    padding: 0px;
    margin: 0px;
    width:800px;
}

.social-item {
    display: inline-block;
    margin-left: 0px;
}
.social-item:first-child {
    margin-left: 0;
}
.social-link {
    display: block;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    text-decoration: none;
}
.social-list-dark .social-item .social-link {
    border-color: #34495E;
}

.social-list-dark{
    padding:0px;
}

.social-list-white{
    /*position:absolute; !* были по центру экрана *!*/
    padding-left: 220px;
    margin: 0px;
}
.social-link .fab {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 23px;
}
.social-list-dark .social-item .social-link .fab {
    color: #34495E;
}
.social-list-dark .social-item .social-link:hover .fab {
    color: darkred;
}
.social-link:hover .fab  {
    color: darkred;
}