

#main-area {
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-area{
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-page-area{
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts-area{
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left-side {
    width: 50%;
    background: #34495E;
}
.left-side-dark {
    width: 50%;
    background: #34495E;
}

.left-side-white{
    width: 50%;
}
.menu {
    margin: 720px 0 0;
    text-align: center;
}

.menu-column{
    margin: 0;
    padding: 0;
}
.menu-list {
    padding: 0;
}


.menu-list-dark{
    padding: 0;
    margin: 0;;
}

.menu-list-white{
    padding:0;
    margin:0;
}


.menu-list-dark .menu-item .menu-link, .menu-list-dark .menu-item .menu-link:hover:before {
    color: #ECF0F1;
}

.menu-list-white .menu-item .menu-link, .menu-list-white .menu-item .menu-link-white:hover:before{
    color: #34495E
}
.menu-item {
    display: inline-block;
    margin-left: 40px;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-link {
    font: bold 12px/15px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #ECF0F1;
    text-decoration: none;
    position: relative;
}

.menu-link-white{
    font: bold 12px/15px 'Merriweather Sans', Tahoma, serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #34495E;
    text-decoration: none;
    position: relative;
}

.menu-link-white:hover:before{
    content: '';
    position: absolute;
    width: 44px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    transform: rotate(-45deg);
    background: #34495E;
    text-decoration: underline;
}

.menu-link:hover:before {
    content: '';
    position: absolute;
    width: 44px;
    height: 3px;
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    transform: rotate(-45deg);
    background: #FFFFFF;
    text-decoration: underline;
}

.right-side {
    width: 50%;
    padding: 0 0 0 213px;
}

.right-side-dark{
    width: 50%;
    background: #34495E;
}

.fa-quote-left{
    position: relative;
    top: 220px;
    left: 232px;
    color: #34495E;
    display: block;
    height:50px;
    font-size: 48px; /*как сделать 48х40 */
    margin: 0;
    z-index:3;
}

.my-left-donut{
    position: relative;
    text-shadow: 0 3px 3px #ccc;
    font: 600 18px/25px 'Merriweather Sans', Tahoma, serif;
    font-style: normal;
    text-align: left;
    letter-spacing: 1.3px;
    color: #34495E;
    display: block;
    width: 475px;
    height: 125px;
    margin-top: 289px;
    margin-left:185px;
    padding: 0;
    z-index: 3;
}


.title-area {
    top: calc(50% - 80px);
    left: calc(50% - 375px);
    position: absolute;
    font: bold 72px/80px 'Open Sans', Tahoma, serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 1.7px;
    color: #FFFFFF;
    display: block;
    width: 750px;
    height: 170px;
    margin: 0;
    background: linear-gradient(to right, #FFF 0%, #FFF 49.99%, #34495E 50%, #34495E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-text-area{
    margin: 168px auto auto 70px;
    position: relative;
    z-index:2
}

.cases{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 87px;
    font-size: 64px;
    letter-spacing: 3px;
    color: #FFFFFF;

}

.form{
    display:flex;
    flex-direction: column;
    margin-left:238px;
    margin-top:110px;
    position:relative;
}
.text-form{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    color: #ECF0F1;
    background: #34495E;
    border: 1px solid #34495E;
    border-radius:27px;
    width:325px;
    height:55px;
    padding-left:25px;
}

.text-message{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    color: #ECF0F1;
    background: #34495E;
    border: 1px solid #34495E;
    border-radius:27px;
    width:325px;
    height:168px;
    padding-left:25px;
}

.submit{
    background: #ECF0F1;
    width:350px;
    height:55px;
    border: 2px solid #34495E;
    border-radius: 27px;
    padding-left:25px;
    display:flex;
    flex-direction: row;
}

.sub-pict{
padding-left:4px;
}

.sub-text{
    font:700 19px/14px 'Open Sans', sans-serif;
    color: #34495E;
    padding-left:120px;
    font-size: 14px;
}

.text-form::-webkit-input-placeholder{
    color: #ECF0F1;
}
.text-message::-webkit-input-placeholder{
    color: #ECF0F1;
}
.main-image-area{
    position:absolute;
    top:98px;
    right:255px; /* хуеверсткий костыль */
    height:515px;
    width:900px;
}


.case-text{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    font-size: 16px;
    letter-spacing: 0.72px;
    color: #ECF0F1;
    width:201px;
    height: 115px;
}

.case-pict{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}


.map{
    position:absolute;
    top:0px;
    right:0px;
    width: 50%;
    height: 100%;
    z-index: 0;
}

.top-area {
    height: 50%;
    padding: 33px 0 0 0;
    text-align: center;
}



.bottom-area {
    height: 50%;
    text-align: center;
    padding: 317px 0 0 0;
}

.text-area{
    position: absolute;
    width: 400px; /*должно быть 480 ?! */
    height: 420px;
    text-align: left;
    top: 174px;
    right: 226px;
}

.parag{
    font-family: Merriweather Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #ECF0F1;
}


.small-circle{
    position:absolute;
    width:357px;
    height:357px;
    opacity: 0.03;
    border: 9px solid #34495E;
    border-radius:50%;
    box-shadow: inset #ECF0F1 0 0 0 41px;
    margin:50px;
}

.social-list {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.social-item {
    display: inline-block;
    margin-left: 0;
}
.social-item:first-child {
    margin-left: 0;
}
.social-link {
    display: block;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    text-decoration: none;
}
.social-list-dark .social-item .social-link {
    border-color: #34495E;
}

.social-list-dark{
    padding: 0;
}

.social-list-white{
    padding-left: 220px;
    margin: 0;
}
.social-link .fab {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 23px;
}
.social-list-dark .social-item .social-link .fab {
    color: #34495E;
}
.social-list-dark .social-item .social-link:hover .fab {
    color: darkred;
}
.social-link:hover .fab  {
    color: darkred;
}