#about-area {
    height: 100%;
    min-height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-quote-left {
    position: relative;
    color: #34495E;
    display: block;
    height: 50px;
    font-size: 48px;
    margin: 0;
    z-index:3;
}


.about-left-content{
    display: flex;
    flex-direction: column;
    width:60%;
    margin:220px auto 0 230px;
}

.my-left-donut {
    position: relative;
    text-shadow: 0 3px 3px #ccc;
    font: 600 18px/25px 'Merriweather Sans', Tahoma, serif;
    font-style: normal;
    text-align: left;
    letter-spacing: 1.3px;
    color: #34495E;
    height: auto;
    padding: 0;
    z-index: 3;
    margin-top:35px;
}

.half-content{
    width:50%;
    height:100%;
    align-items: center;
}

.text-area {
    position: relative;
    width: 400px;
    margin-left:25%;
    margin-top:125px;
}

.paragraph {
    font-family: Merriweather Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #ECF0F1;
}


.small-circle {
    position:absolute;
    width:90px;
    height:90px;
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(52, 73, 94, .03),
                0 0 0 48px #ECF0F1,
                0 0 0 52px rgba(52, 73, 94, .03),
                0 0 0 92px #ECF0F1,
                0 0 0 97px rgba(52, 73, 94, .03),
                0 0 0 142px #ECF0F1,
                0 0 0 148px rgba(52, 73, 94, .03);
    top: calc(50% - 45px);
    left:25%;
    background:transparent;
}

@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1200px) {
    .container {
        background: #ECF0F1;
        width: 100%;
        height: 100%;
    }
    .content {
        align-items: center;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }

    .half-content{
        height: auto;
        width:100%;
        margin:0;
        align-items: center;
    }

    .text-area{
        width:75%;
        margin: 100px auto 0;
    }

    .about-left-content{
        margin: 50px auto 0;
        width:75%
    }

    .my-left-donut{
        width:100%;
    }

    .small-circle{
        left: calc(50% - 45px); /*исправить */
        top: calc(50% - 45px);
    }

    .paragraph{
        color: #34495E;
    }

    .header .half-side {
        display: none;
    }
    .header .p-left-social {
        display: block;
        width: 100%;
        padding: 0;
    }
    .page-title {
        color: #34495E;
        text-align: center;
    }
    .footer {
        flex-direction: column;
    }
    .footer .half-side {
        width: 100%;
    }
    .footer .p-left-social {
        padding: 0;
        margin: 20px 0;
    }
    .footer .menu-item {
        margin-left: 15px;
    }
    .footer .menu-item:first-child {
        margin: 0;
    }
    .footer .social-list .social-link {
        border-color: #34495E;
    }
    .footer .social-list .social-link .fab {
        color: #34495E;
    }
}
@media screen and (max-width: 960px) {
    .container {
        background: #ECF0F1;
        width: 100%;
        height: 100%;
    }


    .content {
        align-items: center;
        padding: 0 20px;
    }


    .header .half-side {
        display: none;
    }
    .header .p-left-social {
        display: block;
        width: 100%;
        padding: 0;
    }
    .page-title {
        color: #34495E;
        text-align: center;
    }
    .footer {
        flex-direction: column;
    }
    .footer .half-side {
        width: 100%;
    }
    .footer .p-left-social {
        padding: 0;
        margin: 20px 0;
    }
    .footer .menu-item {
        margin-left: 15px;
    }
    .footer .menu-item:first-child {
        margin: 0;
    }
    .footer .social-list-dark .social-link {
        border-color: #FFFFFF;
    }
    .footer .social-list-dark .social-link .fab {
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) {
    .container {
        background: #ECF0F1;
        width: 100%;
        height: 100%;
    }
    .content {
        align-items: center;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }

    .half-content{
        height: auto;
        width:100%;
        margin:0;
        align-items: center;
    }

    .text-area{
        width:75%;
        margin: 100px auto 0;
    }

    .about-left-content{
        margin: 50px auto 0;
        width:75%
    }

    .my-left-donut{
        width:100%;
    }

    .small-circle{
        left: calc(50% - 45px); /*исправить */
        top: calc(50% - 45px);
    }

    .paragraph{
        color: #34495E;
    }

    .header .half-side {
        display: none;
    }
    .header .p-left-social {
        display: block;
        width: 100%;
        padding: 0;
    }
    .page-title {
        color: #34495E;
        text-align: center;
    }
    .footer {
        flex-direction: column;
    }
    .footer .half-side {
        width: 100%;
    }
    .footer .p-left-social {
        padding: 0;
        margin: 20px 0;
    }
    .footer .menu-item {
        margin-left: 15px;
    }
    .footer .menu-item:first-child {
        margin: 0;
    }
    .footer .social-list .social-link {
        border-color: #34495E;
    }
    .footer .social-list .social-link .fab {
        color: #34495E;
    }
}
@media screen and (max-width: 320px) {
    .title-area {

    }
}
