@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 768px) {
    .container {
        background: #34495E;
        width: 100%;
        height: 100%;
    }
    .content {
        align-items: center;
        padding: 0 20px;
    }
    .title-area {
        height: auto;
        width: 100%;
        top: auto;
        left: auto;
        background: none;
        position: relative;
        max-width: 100%;
        -webkit-text-fill-color: #ffffff;
        -webkit-background-clip: border-box;
        font-size: 35px;
    }
    .header .half-side {
        display: none;
    }
    .header .p-left-social {
        display: block;
        width: 100%;
        padding: 0;
    }
    .page-title {
        color: #ffffff;
        text-align: center;
    }
    .footer {
        flex-direction: column;
    }
    .footer .half-side {
        width: 100%;
    }
    .footer .p-left-social {
        padding: 0;
        margin: 20px 0;
    }
    .footer .menu-item {
        margin-left: 15px;
    }
    .footer .menu-item:first-child {
        margin: 0;
    }
    .footer .social-list-dark .social-link {
        border-color: #FFFFFF;
    }
    .footer .social-list-dark .social-link .fab {
        color: #FFFFFF;
    }
}
@media screen and (max-width: 320px) {
    .title-area {

    }
}
